.Rproj.user
.Rhistory
.RData
.Ruserdata
/2022II
/2023_1
/2024II
/Aulas de Florestal
/Aulas/ArquivosTEX/xAula2-Desconsiderar
/Aulas/ArquivosTEX/xAula3-Desconsiderar
/Aulas/ArquivosTEX/xAula4-Desconsiderar
/Aulas/ArquivosTEX/xAula5-Desconsiderar
/Aulas/ArquivosTEX/xAula6-Desconsiderar
/Aulas/ArquivosTEX/xAula6_Desconsiderar
/Aulas/ArquivosTEX/xAula9-Desconsiderar
/Aulas/ArquivosTEX/xAula10-Desconsiderar